/* hex values for my root */
:root{
--grey: #c2c2c2;
--yellow: #fccf14;
--white: #ffffff;
--black:#110f0f;
--maroon:#420505;
--goldenrod:#DAA520;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* --------header/nav-----------*/
/* header section */
nav, header {
    /* font-family: 'Fredericka the great'; */
    font-family: "Muli",Sans-serif;
}

.nav-style {
    display: flex;
    align-items: center;
    background-color: #420505;
    border: 7px solid darkgoldenrod;
    padding: 10px;
}

.logo-size {
    width: 200px; /* Set the logo size */
    margin-left: 120px;
    height:150px;
    background-color: #420505;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
}

.nav-display {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    margin-right: 1.5rem;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#color-white {
    color: white;
}

.nav-item a {
    text-decoration: none;
    color: goldenrod;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 30px;
}

 .container-center{
    text-align: center; /* Center align the text */
    margin-top: 75px; 

}
/*------- heading section --------*/

h1, h2 {
    font-size: 3rem;
    /* color: var(--goldenrod); */
    margin-top: 15px; /* Remove default margin to ensure proper centering */
}

/*-------Button section --------*/

.button-styles{
    margin:30px;
    padding:20px;
    background-color:var(--goldenrod);
    /* box-shadow:var(--goldenrod); */
    font-size: 1.5rem;
    border-radius: 20px;  
    width: 300px; 
    color:var(--white);
    border:none;
    cursor: pointer;
}
.button-link {
    
  }

/* ----------- footer styles --------------*/
footer{
    width:100%;
    height:500px;
    background-color: #420505;
    border: 10px solid darkgoldenrod;
}

.footer-display{
    display:flex;
    justify-content: center;

}

.footer-section{
    height:400px;
    width:30%;
    border:2px solid yellow;
    margin:50px;
    
}

.footer-logo {
    width: 350px;
    height: 250px;
    display: block; /* Ensures the image is treated as a block-level element */
    margin: 0 auto; /* Centers the image horizontally */
    
}
.clock-color{
    color: var(--yellow);
    /* text-align: center;*/
     margin-left:30px; 
    /* margin-right: 8px; */
} 
.footer-pg{
    color:#FFFFBB;
    font-family: "Roboto",Sans-serif;
    font-size: 20px;
    text-align: center;
    /* display:flex;
    justify-content: center; */
    /* margin-left:50px; */
    /* line-height: 1; */
    padding:2px;
}
.margin-top{
    margin-top: 150px;
}
/* .flex{
     display:flex;
    justify-content: left; 
} */
.footer-heading{
    color: #F7C647;
    margin-top:40px;
    font-family: "Muli",Sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    padding:2px;
}
.white-color{
    color:white;
    /* display:flex;
    justify-content: center; */
    margin-top:20px;
    padding:10px;
   
}
.margin-left{
    margin-left:140px;
}

/* slider */

.slider {
    /* overflow: hidden; */
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    /* position: relative; */
    display:flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .slide {
    width: 400px;
    height: 300px;
    /* border: 1px solid red; */
    /* display: none;
    position: absolute; */
    background-color: lightgrey;
    
  }
  
  .slide img {
    width: 350px;
    height: 250px;
    padding:20px;
    
    /* object-fit: cover; */
  }
  
  /* Add animation for sliding effect
  @keyframes slide {
    from {left: 0;}
    to {left: -100%;}
  }
  
  .slide.active {
    display: block;
    animation: slide 1s ease-in-out infinite;
  }
   */
    






/* .nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
} */



/* body styles */
/* link styles */
/* table/form styles -flexbox*/

/* media query*/
/* form fields */
