/* hex values for my root */
:root{
--grey: #c2c2c2;
--yellow: #fccf14;
--white: #ffffff;
--black:#110f0f;
--goldenrod:#DAA520;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* --------header/nav-----------*/
/* header section */
nav, header {
    /* font-family: 'Fredericka the great'; */
    font-family: "Muli",Sans-serif;
}

.nav-style {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.logo-size {
    width: 200px; /* Set the logo size */
    margin-left: 120px;
    height:130px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
}

.nav-display {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    margin-right: 1.5rem;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#color-white {
    color: white;
}

.nav-item a {
    text-decoration: none;
    color: goldenrod;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 30px;
}

 .conatiner-center{
    text-align: center; /* Center align the text */
    margin-top: 75px; 

}
/*------- heading section --------*/

h1, h2 {
    font-size: 3rem;
    /* color: var(--goldenrod); */
    margin-top: 15px; /* Remove default margin to ensure proper centering */
}

/*-------Button section --------*/

.button-styles{
    margin:30px;
    padding:20px;
    background-color:var(--goldenrod);
    /* box-shadow:var(--goldenrod); */
    font-size: 1.5rem;
    border-radius: 20px;  
    width: 300px; 
    color:var(--white);
    border:none;
}

/* ----------- footer styles --------------*/
footer{
    width:100%;
    height:500px;
    background-color: var(--black);
}

.footer-display{
    display:flex;
    justify-content: center;

}

.footer-section{
    height:400px;
    width:30%;
    border:2px solid yellow;
    margin:50px;
    
}

.footer-logo {
    width: 350px;
    height: 250px;
    display: block; /* Ensures the image is treated as a block-level element */
    margin: 0 auto; /* Centers the image horizontally */
    
}
.clock-color{
    color: var(--yellow);
    /* text-align: center;
    margin-left:50px; */
    /* margin-right: 8px; */
} 
.footer-pg{
    color:#FFFFBB;
    font-family: "Roboto",Sans-serif;
    font-size: 20px;
    text-align: center;
    display:flex;
    /* margin-left:50px; */
    /* line-height: 1; */
    padding:2px;
}
.footer-heading{
    color: #F7C647;
    margin-top:40px;
    font-family: "Muli",Sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    padding:2px;
}

/* ----- Middle section ----- */
.flex-container {
    display: flex;
    border:1px solid red;
  }
  
  .flex-container > div {
    margin: 20px 30px;
    padding: 20px;
    font-size: 20px;
    border:1px solid green;
    width:50%;
    height: 400px;
  }
.image{
    height: 380px;
    width:100%;
    /* margin-left: 70px; */
}
/* .about-container{
    display:flex;
    margin-bottom: 50px;
    margin-top:70px;
    border:1px solid red;
} */
.red{
    border:1px solid red;
}

 .about-heading{
    /* margin-right: 100px; */
    color:#F7C647;
    font-family: "Muli",Sans-serif;
    border: 1px solid red;
}
.h3-heading{
    color:black;
    /* margin-left:50px; */
    font-family: "Muli",Sans-serif;
    font-size: 1.5rem;
    border:1px solid red;
} 
.about-paragraph{
    color:black;
    font-family: "Muli",Sans-serif;
} 


    






/* .nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
} */



/* body styles */
/* link styles */
/* table/form styles -flexbox*/

/* media query*/
/* form fields */
